<app-header></app-header>

 
 <section class="aboutme-container border border-secondary p-4 rounded mx-3 mt-3 mb-2">
    <div>
        <h2  class="d-flex justify-content-center align-item-center flex-row" style="color:#6c63ff; font-size: 3.5;">About Me</h2>
        <p  class="d-flex justify-content-center align-item-center mb-5 px-3 flex-row" style="font-size: 1.2em;">An insight into my journey, professional expertise, and the passions that inspire my work.</p>
    </div>

    <div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/images/aboutimage.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-md-6">
        <h2 style="color:#6c63ff; font-size: 3.5; margin-bottom: 1em;">My Story</h2>
        <p class="lh-base fs-5">Ojonugwa John Attah, known professionally as The Write Attah, is a Nigerian poet, short story writer, book enthusiast, street and nature phone photographer, graphic designer, and English-language teacher. A graduate of English and Literary Studies from the University of Nigeria, Nsukka, he has published poems, essays, and stories in Best New African Poets 2015 Anthology, Brittle Paper, Medium, and other notable platforms across Africa and beyond. </p>

            <p class="fs-5">Attah’s writing explores themes of everyday resilience, social reflection, faith, and the rich nuances of Nigerian street life, captured vividly in his Cab Chronicles series and personal essays like Another Shot at Life. As an educator, he has spent over nine years guiding young people to discover the power of words while instilling critical thinking and creativity in his classrooms.

Beyond writing, Attah is a keen street and nature phone photographer, documenting urban and natural moments with a minimalist, storytelling approach. His photography often complements his writing, extending his narrative voice visually across platforms. He is also a graphic designer, creating clean, story-driven designs for personal projects and commissioned works that align with his aesthetic of simplicity and emotional clarity. 
</p>
 <p class="fs-5">Known for his warm yet direct storytelling, Attah engages audiences under the moniker The_Write_Attah on Medium and social platforms, and as &#64;Ojohnattah on X (Formerly Twitter), where he shares his reflections on writing, teaching, photography, and daily life in Nigeria. His work is rooted in the belief that stories, whether told through words or images, can heal, challenge, and inspire.</p>


    </div>
  </div>
</div>

 </section> 

 
<app-footer></app-footer>