


<app-header></app-header>

<div class="row row-cols-1 row-cols-md-3 g-4 mt-3 mx-3">
  <div class="col" *ngFor="let card of cards">
    <div class="card h-100">
      <img [src]="card.imageUrl" class="card-img-top" alt="Post image" />
      <div class="card-body">
        <h5 class="card-title">{{ card.title }}</h5>
        <p class="card-text">
          {{ card.content.length > 100 ? (card.content | slice:0:100) + '...' : card.content }}
        </p>
        <button class="btn btn-primary">Read More</button>
      </div>
    </div>
  </div>
</div>
