<app-header></app-header>

<section class="d-flex justify-content-center align-center flex-direction-column mt-5 mb-4" >
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/homeimage.jpg" class="img-fluid rounded-pill" alt="">
                
            </div>
            <div class="col-md-6 mt-2 px-3">
             <h4 class=" mb-2"> Writer | Editor | Graphic Designer </h4>
                <p>Ojonugwa John Attah, known professionally as The Write Attah, is a Nigerian poet, short story writer, book enthusiast, street and nature phone photographer, graphic designer, and English-language teacher. A graduate of English and Literary Studies from the University of Nigeria, Nsukka, he has published poems, essays, and stories in Best New African Poets 2015 Anthology, Brittle Paper, Medium, and other notable platforms across Africa and beyond. </p>
            </div>
        </div>

    </div>
</section>