
<app-header></app-header>
<header>
  <h2 class="header-text d-flex justify-content-center align-center me-3 mt-3 pt-5">My Blog</h2>
</header>


<div class="row row-cols-1 row-cols-md-3 g-4 mt-3 mx-3">
  <div class="col" *ngFor="let card of paginatedCards">
    <div class="card h-100">
      <img [src]="card.imageUrl" class="card-img-top" alt="Post image" />
      <p>Posted on: {{ formatDate(card.datePosted) }}</p>
      <div class="card-body">
        <h5 class="card-title">{{ card.title }}</h5>
        <p class="card-text">
          {{ card.content.length > 100 ? (card.content | slice:0:100) + '...' : card.content }}
        </p>
        <button [routerLink]="['/post', card.id]" class="btn btn-primary">Read More</button>
      </div>
    </div>
  </div>
</div>


<nav class="d-flex justify-content-center mt-4">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <button class="page-link" (click)="goToPage(currentPage - 1)">Previous</button>
    </li>

    <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
        [class.active]="currentPage === i + 1">
      <button class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</button>
    </li>

    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <button class="page-link" (click)="goToPage(currentPage + 1)">Next</button>
    </li>
  </ul>
</nav>


<app-footer></app-footer>
