


<app-header></app-header>

<header>
  <h2 class="header-text d-flex justify-content-center align-center me-3 mt-3 pt-5">My Blog</h2>
</header>

<div class="row row-cols-1 row-cols-md-3 g-4 mt-3 mx-3">
  <div class="col" *ngFor="let card of cards">
    <div class="card h-100">
      <img [src]="card.imageUrl" class="card-img-top" alt="Post image" />
      <p>Posted on: {{ formatDate(card.datePosted) }}</p>
      <div class="card-body">
        <h5 class="card-title">{{ card.title }}</h5>
        <p class="card-text">
          {{ card.content.length > 100 ? (card.content | slice:0:100) + '...' : card.content }}
        </p>
        <button [routerLink]="['/post', card.id]" class="btn btn-primary">Read More</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>