




<div class="layout">
  <div class="sidebar" [class.active]="sidebarActive">
    <h1 [routerLink] ="['/']" class="logo" style="color:#6c63ff; cursor:pointer">The_Write_Attah</h1>
   
    <nav class="nav-links">
      <a class="nav-link" [routerLink]="['/dashboard/create-post']">
        <i class="bi bi-plus-circle me-2"></i> Create Post
      </a>
      <a class="nav-link" [routerLink]="['/dashboard/edit-post/:id']">
        <i class="bi bi-pencil-square me-2"></i> Edit Post
      </a>
      <a class="nav-link" [routerLink]="['/dashboard/post-list']">
        <i class="bi bi-card-list me-2"></i> Post List
      </a>
      <a class="nav-link" [routerLink]="['/dashboard/statistics']">
        <i class="bi bi-bar-chart-line me-2"></i> Statistics
      </a>
    </nav>
  </div>

 
  <button class="sidebar-toggle" (click)="toggleSidebar()">
    <i class="bi bi-list"></i>
  </button>

  <div class="content">
  
  </div>
</div> 


