<div class="sidebar d-block justify-content-start align-item-start  me-5">

    <div>
        <h4>The_Write_Attah</h4> <br>
        <h5>Dashboard</h5>
    </div> <br>
    <div>
        <ul>
         <li>   <a href=""> Create Post</a></li>
            <li><a href="">Edit Post</a></li>
            <li><a href="">Delete Post</a></li>
            <li><a href="">Post list</a></li>
        </ul>
    </div>

    <div>
        <ul>
            <li><a href="">Statistics</a></li>
        </ul>
    </div>

</div>